{% extends 'base.html' %}

{% block content %}
    {% if articles %}
        {% for article in articles %}
        <div class="col-md-8">
        <h2><a href= "{% url 'detail' article.id %}"> {{ article.title | slice:"200"}} </a> </h2>
        <span> <b>{{ article.author }}</b> 在 <em>{{ article.pub_date }}</em> 提交</span>
        <p> {% if article.input_formats %}
            {{ article.body | safe | slice:"1280" }}
            {% else %} {{ article.body | slice:"1280" }}
            {% endif %}
        </p>
        </div>
        <div class="col-md-4">
        </div>
        {% endfor %}
        {% else %}
        <p>目前还没有内容</p>
    {% endif %}
{% endblock %}
