{% extends 'base.html' %}
{% block content %}
    {% if form.errors %}
        <p class="error">请正确填写表格</p>
    {% endif %}
    <form action="/accounts/auth/" method="post">
    {% csrf_token %}
    <div class="form-group">
    <label for="username">用户名</label>
    <input class="form-control" type="text" value="" name="username" id="username" autofocus>
    </div>
    <div class="form-group">
    <label for="password">密码</label>
    <input class="form-control" type="password" value="" name="password" id="password">
    </div>
    <input type="submit" class="form-control btn-primary" value="登录" />
    </form>

{% endblock %}